.video-action-button {
  position: fixed;
  cursor: pointer;
}

.video-action-button > div {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #2f363d;
  border-radius: 6px;
}

.video-action-button-group {
  opacity: 1;
  transition: opacity ease 0.3s;
}
.video-action-button-group.hide {
  opacity: 0;
}

.video-action-button .closed {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: white;
  transform: rotate3d(1, 1, 1, 295deg) scaleY(0.8);
}
