.adjustment-container {
  padding: 16px;
}
.adjustment-container .desc {
  margin-top: 12px;
}

.adjustment-item-wrapper {
  display: flex;
  flex-direction: column;
}

.adjustment-item {
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}
.adjustment-item:hover {
  border-color: #2f363d;
}

.adjustment-item.active {
  background-color: rgba(0, 0, 0, 0.08);
}
